#cardsAdoption{
    margin-top: 30px;
}
#chats{
    height: 250px ;
    object-fit: cover;
}
#iconMale{
    color: white;
    font-size: 40px;
}
#histoire{
    font-size: 12px;
}
#pateGrise, #pateGrise2, #pateGrise3{
    color: grey;
}
.fa-paw{
    color: rgb(14, 14, 184);
}
h1{
    line-height: 2.5;
}
#caracteristiques{
    display: grid;
    grid-template-columns: 1fr 1fr;
}